@mixin link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--background-color);
}

.link {
    @include link;
     :hover>& {
        color: var(--background-contrast-color);
    }
}

.linkSelected {
    @include link;
}

@mixin box {
    padding: 8px 16px;
}

.box {
    @include box;
}

.boxCurrentPage {
    @include box;
    background: var(--primary-color);
    border-radius: 32px;
}

.box:hover {
    @include box;
    background-color: var(--background-alt-color);
    border-radius: 32px;
    color: var(--secondary-color);
    cursor: pointer;
}