.link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--background-color); }
  :hover > .link {
    color: var(--background-contrast-color); }

.linkSelected {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--background-color); }

.box {
  padding: 8px 16px; }

.boxCurrentPage {
  padding: 8px 16px;
  background: var(--primary-color);
  border-radius: 32px; }

.box:hover {
  padding: 8px 16px;
  background-color: var(--background-alt-color);
  border-radius: 32px;
  color: var(--secondary-color);
  cursor: pointer; }
