.container {
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.backgroundOverlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}