.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; }

.icon {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen {
    .icon {
      height: 64px;
      width: 64px;
      background-size: cover, 32px; } }
  @media screen and (min-width: 500px) {
    .icon {
      height: 128px;
      width: 128px;
      background-size: cover, 64px; } }
  @media screen and (min-width: 1300px) {
    .icon {
      height: 250px;
      width: 250px;
      background-size: cover, 128px; } }

.title {
  color: white;
  font-family: "Roboto";
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); }
  @media screen {
    .title {
      font-size: 14px; } }
  @media screen and (min-width: 500px) {
    .title {
      font-size: 18px; } }
  @media screen and (min-width: 1300px) {
    .title {
      font-size: 24px; } }
