:root {
  --primary-color: #296ACB;
  --background-color: #FFFFFF;
  --background-alt-color: #E8EFFF;
  --background-contrast-color: #434656;
  --secondary-color: #FFAD71;
  --secondary-alt-color: #FF7188; }
