.startNotificationStyledBanner {
    background-color: white;
    width: 512px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    @media screen {
        padding: 20px;
        width: 256px;
    }
    @media screen and (min-width: 500px) {
        padding: 24px;
        width: 256px;
    }
    @media screen and (min-width: 1300px) {
        padding: 32px;
        width: 512px;
    }
}

.headerText {
    color: var(--background-contrast-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
    @media screen {
        font-size: 12px;
    }
    @media screen and (min-width: 500px) {
        font-size: 18px;
    }
    @media screen and (min-width: 1300px) {
        font-size: 21px;
    }
}

.headerText p {
    color: inherit;
}

.heartIconBox {
    width: 24px;
    height: 24px;
}

.heartIcon {
    fill: yellow;
    width: 24px;
    height: 24px;
    @media screen {
        width: 16px;
        height: 16px;
    }
    @media screen and (min-width: 500px) {
        width: 16px;
        height: 16px;
    }
    @media screen and (min-width: 1300px) {
        width: 24px;
        height: 24px;
    }
}

.title {
    font-weight: 600;
    color: var(--background-contrast-color);
    @media screen {
        font-size: 20px;
    }
    @media screen and (min-width: 500px) {
        font-size: 24px;
    }
    @media screen and (min-width: 1300px) {
        font-size: 32px;
    }
}

.subTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    opacity: 0.6;
    @media screen {
        line-height: 24px;
        font-size: 20px;
    }
    @media screen and (min-width: 500px) {
        line-height: 26px;
        font-size: 24px;
    }
    @media screen and (min-width: 1300px) {
        line-height: 48px;
        font-size: 32px;
    }
}

p {
    margin: 0px;
}